<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for task in tasks %}
        <h2>{{task.title}}</h2>
        {% if task.done == False %}
        <p>Tarea Pendiente</p>
        {% else %}
        <p>Tarea Realizada</p>
        {% endif%}
        <p>{{task.project.name}}</p>
        <a href="/task/{{task.id}}">Ver</a>
        <button>Delete 🧯  </button><button>Done ✔  </button>
    {% endfor %}
  </body>
</html>
